body {
  margin: 0;
  font-family: lora;
  
 
}

code {
   font-family:"lora";
    /* font-family: "Calvino";
    src: local("Calvino"),
     url("./markup/fonts/calvino/Calvino-Grande-Regular-trial.ttf") format("truetype");
    font-weight: bold; */
}

 @font-face {
  font-family: "Calvino";
  src: local("Calvino"),
   url("./markup/fonts/calvino/Calvino-Grande-Regular-trial.ttf") format("truetype");
  font-weight: bold; }
  

  